In [55]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from pathlib import Path
from sklearn.model_selection import train_test_split

import tensorflow as tf

from sklearn.metrics import confusion_matrix, classification_report

In [56]:
import pandas as pd

df = pd.read_excel(r'C:\Users\mayar\Downloads\train.xlsx')
df.head()
print(df)

       class                            image_path               name  xmax  \
0          3  4a48c42c9579ec0399e6c5a3e825e765.jpg            GARBAGE   797
1          3  4a48c42c9579ec0399e6c5a3e825e765.jpg            GARBAGE   932
2          3  4a48c42c9579ec0399e6c5a3e825e765.jpg            GARBAGE   736
3          7  ea906a663da6321bcef78be4b7d1afff.jpg      BAD_BILLBOARD   986
4          8  1c7d48005a12d1b19261b8e71df7cafe.jpg       SAND_ON_ROAD   667
...      ...                                   ...                ...   ...
19945      4  081e7bb3832ec5bb25276db161a96274.jpg  CONSTRUCTION_ROAD  1025
19946      2  1ff38a7af7f13b1201d17c6e1829373a.jpg           POTHOLES   657
19947      2  1ff38a7af7f13b1201d17c6e1829373a.jpg           POTHOLES   507
19948      7  ac97490f13140fc1bfe613ec69301b34.jpg      BAD_BILLBOARD   956
19949      7  ac97490f13140fc1bfe613ec69301b34.jpg      BAD_BILLBOARD   814

       xmin  ymax  ymin  sand classes
0       701   262   211             0
1       786   329   238             0
2       657   275   229             0
3       786   136     0             0
4       549   228   179             1
...     ...   ...   ...           ...
19945   600   408   148             0
19946   418   364   282             0
19947   338   436   283             0
19948   713   110    25             0
19949   674   148    71             0

[19950 rows x 8 columns]

In [59]:
print(df.shape)

(19950, 8)

In [60]:
print(df.columns)

Index(['class', 'image_path', 'name', 'xmax', 'xmin', 'ymax', 'ymin',
       'sand classes'],
      dtype='object')

In [61]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19950 entries, 0 to 19949
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   class         19950 non-null  int64
 1   image_path    19950 non-null  object
 2   name          19950 non-null  object
 3   xmax          19950 non-null  int64
 4   xmin          19950 non-null  int64
 5   ymax          19950 non-null  int64
 6   ymin          19950 non-null  int64
 7   sand classes  19950 non-null  int64
dtypes: int64(6), object(2)
memory usage: 1.2+ MB
None

In [62]:
df.describe()

,class,xmax,xmin,ymax,ymin,sand classes
count,19950.000000,19950.000000,19950.000000,19950.000000,19950.000000,19950.000000
mean,4.055388,572.813634,362.418647,314.202506,201.514937,0.037494
std,2.502491,264.445257,264.246281,102.133871,85.536614,0.189973
min,0.000000,30.000000,-397.000000,20.000000,-150.000000,0.000000
25%,3.000000,357.000000,147.000000,242.000000,149.000000,0.000000
50%,3.000000,567.000000,350.000000,296.000000,195.000000,0.000000
75%,4.000000,789.000000,581.000000,372.000000,251.000000,0.000000
max,10.000000,1384.000000,935.000000,698.000000,500.000000,1.000000

In [63]:
df = df.dropna(axis=0)

In [64]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\mayar\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\mayar\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [65]:
import pandas as pd

data = pd.read_excel(r'C:\Users\mayar\Downloads\train.xlsx') 
df = pd.DataFrame(data, columns=['train'])
print(df)

       train
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
19945    NaN
19946    NaN
19947    NaN
19948    NaN
19949    NaN

[19950 rows x 1 columns]

In [67]:
df = ['SAND_ON_ROAD']

In [72]:
def generate_df(image_dir, label):
    filepaths = pd.Series(list(image_dir.glob(r'*.jpg')), name='Filepath').astype(str)
    labels = pd.Series(label, name='Label', index=filepaths.index)
    df = pd.concat([filepaths, labels], axis=1)
    return df

In [84]:
train_gen = tf.keras.preprocessing.image.ImageDataGenerator(
    rescale=1./255,
    validation_split=0.2
)

test_gen = tf.keras.preprocessing.image.ImageDataGenerator(
    rescale=1./255
)

In [87]:
#false

def evaluate_model(model, test_data):
    
    results = model.evaluate(test_data, verbose=0)
    loss = results[0]
    acc = results[1]
    
    print("    Test Loss: {:.5f}".format(loss))
    print("Test Accuracy: {:.2f}%".format(acc * 100))
    
    y_pred = np.squeeze((model.predict(test_data) >= 0.5).astype(np.int))
    cm = confusion_matrix(test_data.labels, y_pred)
    clr = classification_report(test_data.labels, y_pred, target_names=["NEGATIVE", "POSITIVE"])
    
    plt.figure(figsize=(6, 6))
    sns.heatmap(cm, annot=True, fmt='g', vmin=0, cmap='Blues', cbar=False)
    plt.xticks(ticks=np.arange(2) + 0.5, labels=["NEGATIVE", "POSITIVE"])
    plt.yticks(ticks=np.arange(2) + 0.5, labels=["NEGATIVE", "POSITIVE"])
    plt.xlabel("Predicted")
    plt.ylabel("Actual")
    plt.title("Confusion Matrix")
    plt.show()
    
    print("Classification Report:\n----------------------\n", clr)